
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  a {
    text-decoration: none;
  }

body {
    background-color: #0b2a63;
    color: white;
padding-bottom: 4rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 3rem;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button-style {

    background-color:#8093ba;
    padding: 1rem;
    border-color:white;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    color:white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    text-decoration: none;
    cursor: pointer;
}


h1, h2, h5 {
    font-style:italic;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style:italic;
    font-family: 'Poppins', sans-serif;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .typing-demo2 {
    width: 13ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.3em;
  }

  .image-shadow {

    width: 18rem;
    margin-top: 1rem;
  }

  .icon {
    width: 2rem;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

